@{
    ViewData["Titulek"] = "Kariéra";
}

<header class="careerhero">

    <div class="careerhero-content">
        <h1>Lionel Messi</h1>
        <p>Nejdekorovanější hráč v historii.</p>
    </div>
</header>

<main>
    <section class="FCB">
        <h2>FC Barcelona</h2>
        <p>Lionel Messi strávil většinu své kariéry v Barceloně, kde debutoval v roce 2004. Během sedmnácti sezón nasbíral 778 startů a vstřelil rekordních 672 gólů. Pod trenéry jako Frank Rijkaard, Pep Guardiola nebo Luis Enrique vyhrál s klubem 10x La Ligu, 7x Copa del Rey a 4x Ligu mistrů. V Barceloně se stal ikonou klubu a vytvořil legendární trojici s Neymarem a Suárezem.</p>
    </section>
    <section class="PSG">
        <h2>Paris Saint-Germain</h2>
        <p>Po odchodu z Barcelony zamířil Messi do francouzského PSG, kde odehrál dvě sezóny. V Ligue 1 vstřelil 22 gólů a přidal 30 asistencí. Ačkoliv se mu podařilo vyhrát ligu, fanoušci v Paříži ho nikdy nepřijali tak jako v Katalánsku. Nicméně, jeho přítomnost přispěla k globální popularitě klubu.</p>
    </section>
    <section class="MIA">
        <h2>Inter Miami CF</h2>
        <p>V roce 2023 Messi překvapil svět a zamířil do amerického Interu Miami, kde se stal nejen hráčem, ale i tváří celého projektu MLS. Ihned po příchodu pomohl klubu vyhrát Leagues Cup, což byl první titul v historii týmu. Jeho přestup vyvolal obrovský zájem o fotbal v USA a na každý jeho zápas se sjíždějí fanoušci z celého světa.</p>
    </section>
    <section class="NEW">
        <h2>Newell's Old Boys</h2>
        <p>Ještě před Barcelonou působil Messi v klubu Newell’s Old Boys, kde začínal s fotbalem v rodném Rosariu. Právě zde si ho všimli skauti z Evropy. Messi zde hrával od svých šesti let a dodnes má k tomuto klubu silný citový vztah. Často se spekuluje, že zde jednou kariéru ukončí.</p>
    </section>
    <section class="ARG">
        <h2>Argentinská reprezentace</h2>
        <p>Za Argentinu odehrál přes 180 zápasů a stal se jejím historicky nejlepším střelcem. Dlouho se mu nedařilo vyhrát velký turnaj, až do Copa América 2021, kde byl kapitánem vítězného týmu. O rok později dovedl Argentinu až na vrchol – ke světovému titulu na MS 2022 v Kataru. Je považován za největší legendu argentinské historie, po boku Diega Maradony.</p>
</main>