@{
    ViewData["Titulek"] = "Home";
}

<header class="homehero">
    
    <div class="hero-content">
        <h1>Lionel Messi</h1>
        <p>Nejlepší hráč, co kdy vstoupil na trávník.</p>
    </div>
</header>

<main>
    <section class="leftside">
        <h2>Biografie</h2>
        <p><strong>Celé jméno:</strong> Lionel Andrés Messi Cuccitini</p>
        <p><strong>Datum narození:</strong> 24.6.1987</p>
        <p><strong>Místro narození:</strong> Rosario, Argentina</p>
        <p><strong>Národnost:</strong> Argentinská, Španělská</p>
        <p><strong>Současný klub:</strong> Inter Miami CF</p>
    </section>
    <section class="rightside">
        <h2>Úspěchy</h2>
        <p>1x FIFA Mistrovství světa</p>
        <p>2x CONMEBOL Copa América</p>
        <p>8x Ballon d'Or</p>
        <p>4x UEFA Liga Mistrů</p>
        <p>10x LaLiga</p>
    </section>
</main>